<!doctype html>
<p>
<img id={{l[0]}} src={{l[0]}}>
<img id={{l[1]}} src={{l[1]}}>
<img id={{l[2]}} src={{l[2]}}>
<img id={{l[3]}} src={{l[3]}}>
</p>
<p>
<img id={{l[4]}} src={{l[4]}}>
<img id={{l[5]}} src={{l[5]}}>
<img id={{l[6]}} src={{l[6]}}>
<img id={{l[7]}} src={{l[7]}}>
</p>
<p>
<img id={{l[8]}} src={{l[8]}}>
<img id={{l[9]}} src={{l[9]}}>
<img id={{l[10]}} src={{l[10]}}>
<img id={{l[11]}} src={{l[11]}}>
</p>
    <form id='reveal_num_sets', method='post', action='setpage'>
        <input type='submit' value='reveal number of sets on board' />
    </form>
{{num}}


<p>
<img src={{l2[0]}}>
</p>
<!-- <p>
<img src={{l[4]}}><img src={{l[5]}}><img src={{l[6]}}><img src={{l[7]}}>
</p>
<img src={{l[8]}}><img src={{l[9]}}><img src={{l[10]}}><img src={{l[11]}}>
<p> -->
