<!doctype html>
<p>
<img id={{cn[0]}} class='card' src={{l[0]}}>
<img id={{cn[1]}} class='card' src={{l[1]}}>
<img id={{cn[2]}} class='card' src={{l[2]}}>
<img id={{cn[3]}} class='card' src={{l[3]}}>
</p>
<p>
<img id={{cn[4]}} class='card' src={{l[4]}}>
<img id={{cn[5]}} class='card' src={{l[5]}}>
<img id={{cn[6]}} class='card' src={{l[6]}}>
<img id={{cn[7]}} class='card' src={{l[7]}}>
</p>
<p>
<img id={{cn[8]}} class='card' src={{l[8]}}>
<img id={{cn[9]}} class='card' src={{l[9]}}>
<img id={{cn[10]}} class='card' src={{l[10]}}>
<img id={{cn[11]}} class='card' src={{l[11]}}>
</p>
    <form id='reveal_num_sets', method='post', action='setpage'>
        <input type='submit' value='reveal number of sets on board' />
    </form>
{{num}}


<!-- <p>
<img src={{l[4]}}><img src={{l[5]}}><img src={{l[6]}}><img src={{l[7]}}>
</p>
<img src={{l[8]}}><img src={{l[9]}}><img src={{l[10]}}><img src={{l[11]}}>
<p> -->
<script>
    var clickedCards = {};
    var items = document.getElementsByClassName('card')

    for (var i=0; i<12; i++){
        console.log(i, items[i])
        items[i].addEventListener('click',function(){
        clickedCards.push(this.id)
        })
    }
    console.log(clickedCards)
</script>
